@*
*@

@{
}


<!doctype html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <a href="~/home/index">Index</a>
    <a href="~/home/contact">Contact</a>
    <a href="~/home/about">About</a>
    <a href="~/home/error">Error</a>
    @RenderBody()
</body>
</html>