@{
}

<!doctype html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <a href="~/CustomerManager/Add">Add customer</a> <br />
    <a href="~/CustomerManager/List">List customer</a> <br />

    @RenderBody()
</body>
</html>
