@*
*@

@{
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["title"]</title>
</head>
<body>
    <header>
        <a href="~/home/products">Products</a>
        <a href="~/home/orders">Orders</a>
    </header>
    @RenderBody()
</body>
</html>
