@model IEnumerable<ProductMVC.Models.Product>

@*
*@

@{
    ViewData["title"] = "Products";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<h1>Product</h1>
<table>
    <tr>
        <th>Ident</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td><a href="~/home/buy?id=@product.Id">Buy</a></td>
        </tr>
    }
</table>